<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        <section id="downloads">
            <a href="https://tryhackme.com/p/maximreynvoet" class="btn btn-tryhackme"><span class="icon"></span>TryHackMe Account</a>
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
  <footer> 
    <div class="container">
      <h2> Contact Me: </h2>
      <socials>
        <div class="floatr">
          <a href="mailto:maximreynvoet@outlook.com" class="btn btn-mail"><span class="icon"></span>maximreynvoet@outlook.com</a>
          <h2>[<a href="{{ site.url }}/download/pubkey.asc" class="btn btn-pubkey">public key<span class="icon"></span></a>]</h2>    
        </div>
        <a href="https://signal.me/#eu/nniyO9qOeNNtok3jw9KlsVd-r2319JUYA66xqui-a4jntYnpiQVEBbRYp-TIiAim" class="btn btn-signal"><span class="icon"></span>maximreynvoet.01</a>
        <a href="https://www.linkedin.com/in/maxim-reynvoet" class="btn btn-linkedin"><span class="icon"></span>www.linkedin.com/in/maxim-reynvoet</a>
      </socials>
    </div>
  </footer>
</html>
